@font-face {
  font-family: "Proxima";
  src: url("/public/assets/fonts/Proxima/Proxima\ Nova\ Thin.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Proxima";
  src: url("/public/assets/fonts/Proxima/ProximaNova-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima";
  src: url("/public/assets/fonts/Proxima/Proxima\ Nova\ Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Proxima";
  src: url("/public/assets/fonts/Proxima/Proxima\ Nova\ Extrabold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Proxima";
  src: url("/public/assets/fonts/Proxima/Proxima\ Nova\ Black.otf");
  font-weight: 900;
}

/* Proxima font ends */

/* Opti venus font starts */

@font-face {
  font-family: "Optivenus";
  src: url("/public/assets/fonts/OptiVenus/OPTIVenus-BoldExtended.otf");
  font-weight: 700;
}
